{% extends 'layouts/blank.html' %}

{% block links %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock links %}

{% block scripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    

{% endblock scripts %}

{% block styles %}
    <style>
        .big-header {
            font-size: 48px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 20px;
        }
    </style>
    <style type="text/tailwindcss">
        #chat-message-input-join button {
            @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 px-4
        }
    </style>
{%  endblock styles %}

{%  block content %}
    <h1 class="big-header">{{ chat.name }}</h1>
    
    <div class="container mx-auto">
        <div id="chat-log" class="mb-3">
            {% for message in messages %}
                {% if message.user.id != request.user.id %} 
                    <div class="chat chat-start">
                        <div class="chat-header">
                            {{ message.user.username }}
                            <time class="text-xs opacity-50">{{ message.timestamp }}</time>
                        </div>
                        <div class="chat-bubble">{{ message.content }}</div>
                    </div>
                {% else %}
                    <div class="chat chat-end">
                        <div class="chat-header">
                            {{ message.user.username }}
                            <time class="text-xs opacity-50">{{ message.timestamp }}</time>
                        </div>
                        <div class="chat-bubble chat-bubble-info">{{ message.content }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="divider"></div>
        <form id="myForm" class="w-full mx-auto mt-3">
            <div id="chat-message-input-join" class="join">
                <input id="chat-message-input" class="input input-bordered join-item dark:placeholder-gray-400"  placeholder="Введите сообщение..." />
                <button id="chat-message-submit" type="button" class="btn join-item rounded-r-full"> 
                    <svg class="w-7 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </button>
            </div>    
        </form>
    </div>
    
    <script>
        const chatId = {{ chat.id }};
        const userId = {{ request.user.id }};
        const currentTime = new Date().toLocaleString('ru-RU', {
            day: 'numeric',
            month: 'long',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + chatId + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatLog = document.getElementById('chat-log');
        chatLog.innerHTML += '<div class="chat chat-end"> <div class="chat-header">' + data.username + '<time class="text-xs opacity-50">' + currentTime + '</time></div><div class="chat-bubble chat-bubble-info">' + data.message + '</div></div>';
    };

    document.getElementById('chat-message-submit').onclick = function(e) {
        const messageInputDom = document.getElementById('chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': userId
        }));

        messageInputDom.value = '';
    };
</script>

    
{% endblock content %}
