{% extends 'layouts/blank.html' %}

{% block content %}
    
    <h1>Ваши чаты</h1>
    
    <div id="chat_list" class="mb-4">
        <ul class="space-y-3">
            {% for chat in chats %}
                <li class="flex flex-row text-body-color dark:text-dark-6 dark:text-black text-base justify-between">
                    <div class="flex flex-row w-1/2 items-center overflow-ellipsis">
                        <span class="bg-primary mr-2.5 flex h-[26px] w-full max-w-[26px] items-center justify-center rounded-full text-base text-white">
                            {{ forloop.counter }}
                        </span>
                        <span class="flex">{{ chat.name }}</span>
                    </div>
                    <div class="flex flex-row space-x-2">
                        <a class="btn btn-sm btn-success text-white font-bold" href="{% url 'chat_detail' chat.id %}">
                            <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                            Перейти
                        </a>
                        <a class="btn btn-sm btn-error text-white font-bold" href="{% url 'chat_unsubscribe' chat.id %}">
                            <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                            Отписаться
                        </a>
                    </div>
                </li>
            {% empty %}
                 <li class="text-body-color dark:text-dark-6 flex text-base">У вас пока нет доступных чатов.</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock content %}