<div  id="chat-log" hx-swap-oob="beforeend">
    <div class="chat chat-{% if not is_my_msg %}start{% else %}end{% endif %}">    
        <div class="chat-header">
            @{{ username }}
            <time class="text-xs opacity-50">{{ timestamp }}</time>
        </div>
        <div class="chat-bubble chat-bubble-{% if not is_my_msg %}accent{% else %}info{% endif %} text-white font-bold">{{ message }}</div>
    </div>
</div>


<input id="chat-message-input" class="input input-bordered join-item dark:placeholder-gray-400" placeholder="Введите сообщение..." name="chat_message"/>
